# Flask
Flask==0.10.1
MarkupSafe==0.23
Werkzeug==0.10
Jinja2==2.7.3
itsdangerous==0.24
flask-restful==0.3.1
flask-restful-swagger==0.15

# Deployment
#gunicorn>=19.1.1

# Auth
#Flask-Login==0.2.11
#Flask-Bcrypt==0.6.0

# Docker
docker-py

# Testing
Flask-Testing==0.4.2
nose==1.3.4
jsonpickle==0.9.0
pytest==2.6.4
pytest-cov==1.8.1
pytest-pythonpath==0.6
