# Flask
Flask==0.10.1
MarkupSafe==0.23
Werkzeug==0.10
Jinja2==2.7.3
itsdangerous==0.24
flask-restful==0.3.1
flask-restful-swagger==0.15
crochet==1.3.0

# Deployment
#gunicorn>=19.1.1

# Auth
#Flask-Login==0.2.11
#Flask-Bcrypt==0.6.0

# Docker
docker-py==1.0.0

#salt
salt==2014.7.0
pyzmq==14.5.0

# Testing
Flask-Testing==0.4.2
pytest==2.6.4
pytest-cov==1.8.1
pytest-pythonpath==0.6

#storage
tinydb==2.2.2
jsonpickle==0.9.0

#cram
cram==0.6

# encryption
cryptography==0.8
